In [1]:
!pip3 install spacy -q
!python3 -m spacy download en -q
!python3 -m spacy download en_core_news_md -q

⚠ As of spaCy v3.0, shortcuts like 'en' are deprecated. Please use the
full pipeline package name 'en_core_web_sm' instead.
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

✘ No compatible package found for 'en_core_news_md' (spaCy v3.2.4)

### importer les differentes librairies

In [1]:
import pandas as pd
import spacy
import matplotlib.pyplot as plt
from urllib.parse import urlparse

### lire nos données et transformer les colonnes majuscules en minuscules

In [2]:
df = pd.read_csv('/home/jovyan/Projects/projet_perso/train.csv')
df.columns = df.columns.str.lower()
df.sample(10)

,labels,text,text_tag
8626,1,For the last decade the climate has been cooling.,"cap-and-trade,climate-change,environment,pundits"
3948,5,Mike Martinez cut a deal with prosecutors to a...,"city-budget,city-government,ethics,legal-issues"
7376,3,"Today, the United States has, sadly, one of th...",elections
8657,1,Assertions that it makes no difference whether...,"children,diversity,families,gays-and-lesbians,..."
9730,5,Suzanne Bonamici was the only no vote on a 200...,"crime,criminal-justice,message-machine-2012,vo..."
4748,0,"Under Virginia law, if you are a non-federally...",guns
4468,5,New Jersey has the highest property taxes in t...,taxes
8293,0,Says President Barack Obama promised he would ...,"deficit,federal-budget,new-hampshire-2012"
1348,3,The two worst counties for (Medicaid) fraud in...,"crime,health-care"
2682,3,An illegal immigrant who gains admission at a ...,"education,immigration"

### Filtrer nos données par rapport aux labels qui sont différents de 4 (4 = Iconnu)

In [3]:
df = df[df["labels"] != 4]

### supprimer les valeurs manquantes

In [4]:
df.isnull().any()
df["text_tag"].isnull().sum()
df=df.dropna()
df.shape

(9399, 3)

### transformer nos labels multivariés en bivariés ( 1 = Fake news, 0 = vrai info)

In [5]:
df["labels"] =df["labels"].apply(lambda x : 0 if x == 3 or x == 5
                       else 1)
df["labels"].value_counts()

1    5761
0    3638
Name: labels, dtype: int64

In [6]:
df.sample(10)

,labels,text,text_tag
5254,1,Says Florida had five sanctuary cities while J...,immigration
4968,0,Our median income here in Providence is the sa...,"economy,income,poverty"
5517,1,HIV/AIDS among women is skyrocketing in Austin.,"city-budget,city-government,health-care,public..."
6056,0,African-Americans dont use drugs at a higher l...,"crime,criminal-justice,drugs,history,human-rig..."
9171,1,Says drug dealers have overdosed on purpose to...,"crime,drugs,legal-issues"
5559,1,Says when she helped get $15 billion more for ...,"federal-budget,message-machine-2012,veterans,v..."
5677,0,The Republicans have demanded deep cuts in edu...,"education,federal-budget,health-care,science,a..."
648,1,Democrats in the Legislature in 2009 voted for...,state-budget
3096,1,Teachers will not be able to return to work af...,"education,families"
6525,1,The crime rate in some Atlanta neighborhoods h...,crime

### transformer tous les tag_text majuscules en minuscules

In [7]:
df["text_tag"] = df["text_tag"].fillna("").str.lower()

In [8]:
tags = df.text_tag.unique()
tags

array(['abortion', 'energy,history,job-accomplishments', 'foreign-policy',
       ..., 'animals,elections', 'retirement,social-security',
       'florida,foreign-policy'], dtype=object)

### rajouter nos tag_text au text

In [9]:
df["text"] = df["text"] + " " + df["text_tag"].str.replace(",", " ")
df["text"][0]

'Says the Annies List political group supports third-trimester abortions on demand. abortion'

supprimer la colonnes text_tag

In [10]:
df = df.drop(columns = "text_tag")
df.head()

   labels                                               text
0       1  Says the Annies List political group supports ...
1       1  When did the decline of coal start? It started...
2       0  Hillary Clinton agrees with John McCain "by vo...
3       1  Health care reform legislation is likely to ma...
4       1  The economic turnaround started at the end of ...

In [11]:
df["text"][1]

'When did the decline of coal start? It started when natural gas took off that started to begin in (President George W.) Bushs administration. energy history job-accomplishments'

### preprocessing à l'aide de spacy avec les spécificités de la langues anglais

In [12]:
#import en_core_web_sm
#nlp = en_core_web_sm.load()

### transformer notre colonne text en un objet nlp

In [13]:
#df["text_tokens"] = df.text.map(lambda x: nlp(x))
#df["text_tokens"]

### Stemming du text

In [17]:
import nltk
nltk.download('punkt')

from nltk import word_tokenize
from nltk.stem import PorterStemmer
en = PorterStemmer()
df["text_stem"] = df["text"].map(lambda s: [en.stem(word) for word in s.split(" ")])
df[["text", "text_stem"]].iloc[4]#.tolist()

[nltk_data] Downloading package punkt to /home/jovyan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

text         The economic turnaround started at the end of ...
text_stem    [the, econom, turnaround, start, at, the, end,...
Name: 4, dtype: object

In [25]:
all_text = " ".join(df["text_stem"].map(lambda l: " ".join(l)).tolist())
len(set(all_text.split(" ")))

15712

15712

In [ ]:
df.head()

In [ ]:
df["text_stem"][1]

In [ ]:
import pickle
df.to_pickle('df_st_ps.pk')

In [ ]:
en.stem("generously")

In [ ]:
from nltk.stem import PorterStemmer

In [ ]:
ps = PorterStemmer()
ps.stem("generously")